@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  height: 100%;
}

#game-container {
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  width: 500px;
  padding: 40px 40px 60px 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.1);
  perspective: 300px;
  -webkit-perspective: 300px;
}

h1 {
  color: darkred;
  font-family: 'MedievalSharp', cursive;
  font-size: 3em;
  font-weight: bold;
}

#game-info {
  color: #888;
  font-family: sans-serif;
}

#results {
  color: #888;
  font-family: sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  margin: 1rem 0;
  text-align: right;
}

#results > *:first-child {
  margin: 0.5rem 0 0 0;
}

#coin {
  cursor: pointer;
  height: 250px;
  width: 250px;
  margin: 0 auto;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  animation: "spin-tails 3s forwards";
}

.coin-img {
  width: 250px;
}

#heads, #tails {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* #tails {
  transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(1980deg);
    -webkit-transform: rotateX(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(2160deg);
    -webkit-transform: rotateX(2160deg);
  }
} */

















/* #tails {
  transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
    -webkit-transform: rotateX(180deg) rotateY(180deg) rotateZ(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(1980deg) rotateY(1980deg) rotateZ(1980deg);
    -webkit-transform: rotateX(1980deg) rotateY(1980deg) rotateZ(1980deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  100% {
    transform: rotateX(2160deg) rotateY(2160deg) rotateZ(2160deg);
    -webkit-transform: rotateX(2160deg) rotateY(2160deg) rotateZ(2160deg);
  }
} */

#tails {
  transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

@keyframes spin-tails {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(540deg) rotateY(540deg);
    -webkit-transform: rotateX(540deg) rotateY(540deg);
  }
}

@keyframes spin-heads {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}
