body {
    background-color: lightgray;
    padding: 1em 4em;
}

header, main {
    margin: 0 auto;
    max-width: 800px;
}

header h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 10px;
    margin: 1em;
    text-align: center;
}

main div h2 {
    background: grey;
    color: var(--secondary-color);
    font-size: 2em;
    font-weight: bold;
    padding: 0.5em;
}

article {
    float: left;
    padding: 2em 4em;
    width: 100%;
}

article img {
    float: left;
    max-width: 200px;
    width: 25%;
}

article p {
    float: left;
    padding: 0.5em;
    text-align: justify;
    width: 75%;
}

article p:last-child {
    text-indent: 2rem;
    width: 100%;
}

article p i {
    color: red;
    font-style: italic;
}

article p b {
    background: white;
    font-weight: bold;
}

div {
    clear: both;
}