#colored-squares .black {
    background: black;
}

#colored-squares .teal {
    background: teal;
}

#colored-squares .blue {
    background: blue;
}

#colored-squares .navy {
    background: navy;
}

#colored-squares .lime {
    background: lime;
}

#colored-squares .white {
    background: white;
}

#colored-squares .purple {
    background: purple;
}

#colored-squares .yellow {
    background: yellow;
}

#colored-squares .olive {
    background: olive;
}

#colored-squares .red {
    background: red;
}

#colored-squares .brown {
    background: brown;
}

#colored-squares .gray {
    background: gray;
}

#colored-squares .fuchsia {
    background: fuchsia;
}

#colored-squares .green {
    background: green;
}