#colored-words {
    margin: 0 auto;
}

#colored-words #words-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    height: 75px;
    width: 85%; 
}

#colored-words #words-box >* {
    font-size: 32px;
    margin: 6px;
    cursor: pointer;
}

#colored-words .box-buttons {
    margin: 1rem auto;
    text-align: center;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#colored-words .box-buttons button {
    border: 1px solid;
    border-radius: 0.4rem;
    background: #2222;
    color: #ffffff;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}